.number-range {
  display: inline-flex;
  width: 225px;
  min-height: 40px;
  align-items: stretch;

  & > div {
    flex: 1;

    input {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
  }

  span {
    margin: 0 8px;
    display: inline-flex;
    align-items: center;
  }
}