/**
* @name: index.common
* @author: 卜启缘
* @date: 2021/5/3 16:05
* @description：index.common
* @update: 2021/5/3 16:05
*/
body {
  .el-form-item__label {
    font-size: 12px;
  }
  .el-form-item--mini .el-form-item__content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
