/**
* @name: index.module
* @author: 卜启缘
* @date: 2021/4/28 17:03
* @description：index.module
* @update: 2021/4/28 17:03
*/
$boxShadow: -2px 0 4px 0 rgb(0 0 0 / 10%);

.drawer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  width: 390px;
  background-color: white;
  transform: translateX(100%);
  box-shadow: $boxShadow;
  transition: transform 0.5s ease-in-out;
  contain: layout;

  &.is-open {
    transform: translateX(0);

    /* .floating-action-btn {
      transform: translateX(0);
    } */
  }

  /* &:hover {
    .floating-action-btn {
      transform: translateX(-20px);
    }
  } */
}

.floating-action-btn {
  position: absolute;
  top: 50%;
  left: 0;
  display: flex;
  width: 20px;
  height: 80px;
  cursor: pointer;
  background: #fff;
  transform: translateX(-20px);
  box-shadow: $boxShadow;
  transition: transform 0.5s ease-in-out;
  justify-content: center;
  align-items: center;
}

.attrs {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  background-color: white;

  .tabs {
    height: 100%;

    :global {
      .el-tabs__content {
        height: 100%;
        padding-bottom: 50px;
        overflow-y: auto;
      }

      .el-form-item__label {
        font-size: 12px;
      }

      .el-form-item--mini .el-form-item__content {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
    }
  }
}
