body {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #bfbfbf;
  border-radius: 10px;
}

.placeholder {
  color: #c8c9cc;
}

img {
  image-rendering: pixelated;
}

.el-dialog__body {
  max-height: 66vh;
  overflow: auto;
}

.h5-preview .el-dialog__body {
  overflow: hidden;
}
